html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; }

body {
    font: normal 100%/1.15 "Merriweather", serif;
}

.wrapper-403 {
    position: relative;
    height: auto;
    background: #fff url("../images/texture.jpeg?v=1") repeat 0 0;
}

.wrapper-403 .wrapper {
    background: transparent url("../images/wood-fence.png?v=1") no-repeat center top 24em;
}

.box-403 {
    max-width: 70%;
    min-height: 600px;
    margin: 0 auto;
    padding: 1em 1em;
    text-align: center;
    background: transparent url("../images/dog-family-colored-doodle-drawing.jpeg?v=1") no-repeat top 10em center;
}

h1 {
    margin: 0 0 1rem 0;
}

p:first-of-type {
    margin-top: 16em;
    text-shadow: none;
}

p img { vertical-align: bottom; }

@media screen and (max-width: 600px) {
    .wrapper {
        background-size: 300px 114px;
        background-position: center top 22em;
    }

    .box {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        background-size: 320px 185px;
    }

    p:first-of-type { margin-top: 12em; }
}